
.telekom-genel-chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .telekom-genel-chart-container {
    grid-template-columns: 1fr 1fr;
  }
}
.recharts-legend-item-text{
  margin-top: 10px;
}
.telekom-genel-container-baslik{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}